@import url(https://fonts.google.com/specimen/Spartan);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Spartans", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/bg-pattern-top-desktop.svg);
}

.mainContainer {
  width: max(80%, 80rem);
  height: max(80%, 40rem);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.topSection {
  max-height: 50%;
  max-width: 100%;
  display: flex;
}

.bottomSection {
  display: flex;
  max-height: 50%;
  max-width: 100%;
}

.leftSide {
  max-height: 100%;
  max-width: 50%;
  padding-right: 10rem;
  color: hsl(300, 43%, 22%);
}

.leftSide h1 {
  font-size: 3rem;
  margin-bottom: 0.6rem;
}

.leftSide p {
  font-size: 1rem;
  padding-right: 2.8rem;
  margin-bottom: 4rem;
}

.rightSide {
  max-height: 100%;
  max-width: 100%;
}

.box {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.8rem;
  background-color: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
}

.box h2 {
  margin-left: 1rem;
  font-size: 1rem;
}

.starsBox1 {
  margin-right: 6rem;
  max-width: 420px;
}

.starsBox2 {
  margin-left: 4rem;
  max-width: 420px;
}

.starsBox3 {
  margin-left: 8rem;
  width: 420px;
}

.revBox {
  padding: 2.5rem;
  background-color: hsl(300, 43%, 22%);
  margin-right: 1.5rem;
  color: #fff;
  border-radius: 0.6rem;
  max-width: 380px;
  max-height: 217px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header img {
  border-radius: 50%;
  width: 3rem;
}

.userName {
  margin-left: 1rem;
}

.userName h2 {
  font-size: 1.2rem;
}

.userName h3 {
  color: hsl(300, 24%, 96%);
  opacity: 70%;
  font-size: 0.8rem;
}

.reviewBox1 {
  margin-top: 1rem;
}

.reviewBox2 {
  margin-top: 2rem;
}

.reviewBox3 {
  margin-top: 3rem;
}

@media screen and (max-width: 1000px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainContainer {
    max-width: 100%;
    max-height: 100%;
  }
  .topSection {
    display: flex;
    flex-direction: column;
    max-height: 50%;
    text-align: center;
    margin: none;
    padding: none;
  }
  .leftSide {
    max-width: 100%;
  }
  .rightSide {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .revBox {
    margin: none;
    padding: none;
  }
  .bottomSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 50%;
    margin-top: 80%;
  }
}
